/* Required for full background image */

html,
body,
header,
.jarallax {
  height: 100%;
}
@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Yellowtail');

@media (max-width: 740px) {
  html,
  body,
  header,
  .jarallax {
    height: 100vh;
  }
}

.top-nav-collapse {
  background-color: #ffc8c8 !important;
}

.navbar:not(.top-nav-collapse) {
  background: transparent !important;
}

@media (max-width: 991px) {
  .navbar:not(.top-nav-collapse) {
    background: #ffc8c8 !important;
  }
}

h5 {
  letter-spacing: 3px;
}
#btn-mi {
 background-color: #ffc8c8;
}
#btn-cv {
 background-color: #444f5a;
}
#apellido {
    color: #ffc8c8;
}

.color-one {
 color: #ff9999;
}
.color-two {
    color: #ffc8c8;
}
.color-four {
    color: #444f5a;
}
.Nunito {
    font-family: 'Nunito', sans-serif;
}
.Yellowtail {
    font-family: 'Yellowtail', cursive;
}
li:hover {
    background-color: #ff9999;
    border-radius: 10px;
}
.text-habilidades {
  font-size: 35px;
  padding: 10px;
  text-decoration: none;
  list-style: none;
}

.img-habilidades {
  width: 100px;
  height: 100px;  
  margin: 45px;
}
.gif-hab {
  width: 100px;
  height: 100px;
}
.img-footer{
  width: 70px;
  height: 70px;  
  margin: 40px;
}
