/* Required for full background image */

html,
body,
header,
.jarallax {
  height: 100%;
}
@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Yellowtail');

@media (max-width: 740px) {
  html,
  body,
  header,
  .jarallax {
    height: 100vh;
  }
}

.top-nav-collapse {
  background-color: #3e4149 !important;
}

.navbar:not(.top-nav-collapse) {
  background: transparent !important;
}

@media (max-width: 991px) {
  .navbar:not(.top-nav-collapse) {
    background: #3e4149 !important;
  }
}

h5 {
  letter-spacing: 3px;
}
.btn-mi {
 background-color: #f38181;
 border-radius: 10px;
}
.btn-cv {
 background-color: #444f5a;
 border-radius: 10px;
}
.btn-proyecto {
  background-color: #f38181;
  border-radius: 10px;
}
#apellido {
    color: #ffc8c8;
}

.color-one {
 color: #f38181;
}
.color-two {
    color: #fc5185;
}
.color-three {
  color: #364f6b;
}
.color-four {
    color: #444f5a;
}
.color-gren{
  color: #95e1d3
}
.color-yellow{
  color: #fce38a;   
}
.color-purple{
  color: #a2a8d3
}
.Nunito {
    font-family: 'Nunito', sans-serif;
}
.Yellowtail {
    font-family: 'Yellowtail', cursive;
}
/* li:hover {
    background-color: #ff9999;
    border-radius: 10px;
} */
.text-habilidades {
  font-size: 30px;
  padding: 5px;
  text-decoration: none;
  list-style: none;
}

.img-habilidades {
  width: 100px;
  height: 100px;  
  margin: 45px;
}
.gif-hab {
  width: 100px;
  height: 100px;
}
.img-footer{
  width: 80px;
  height: 80px;   
}
.img-joan {
  height: 350px;
}
@media (max-width: 500px) {
  .text-habilidades {
    font-size: 25px;
    padding: 10px;
  }
  .gif-hab {
    width: 50px;
    height: 50px;
  }
  h1 {
    font-size: 30px;
  }
  #proyectos {
    display: flex;
    flex-direction: column;
    margin-inline-start: 10px;
  }
}